.hero { 
    background-image: url('../img/bg6.png');
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 50px;
    left: 0px;
    background-color: rgba(0,0,0,0.3);
}

.transparent {
  background-color: rgba(255, 255,255, 0.95);
}

.list-hover:hover {
    background-color: #007bff;
    color: #fff !important;
}

.custom-hover:hover {
    background-color: #fff;
    color: #007bff !important;
}

.btn-standar{
    min-width: 150px !important;
}